In [1]:
import pandas as pd 
import numpy as np 
import os
import glob

In [2]:
excel_names = glob.glob("/Users/taylorphillips/galvanize/capstone/test_files/*.xlsx")

In [3]:
excel_names

['/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900035_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900001_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900038_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900045_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900008_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900037_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900044_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900039_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900036_Production_11-Feb-2019.xlsx']

In [4]:
excels = [pd.ExcelFile(name) for name in excel_names]

In [5]:
excels

[<pandas.io.excel.ExcelFile at 0x119ad7e80>,
 <pandas.io.excel.ExcelFile at 0x119e3fa90>,
 <pandas.io.excel.ExcelFile at 0x1199b88d0>,
 <pandas.io.excel.ExcelFile at 0x119e069b0>,
 <pandas.io.excel.ExcelFile at 0x119e6ce80>,
 <pandas.io.excel.ExcelFile at 0x119e62278>,
 <pandas.io.excel.ExcelFile at 0x119e62518>,
 <pandas.io.excel.ExcelFile at 0x119e8c9e8>,
 <pandas.io.excel.ExcelFile at 0x119e9f198>]

In [6]:
frames = [x.parse(x.sheet_names[0], header=3) for x in excels]

In [7]:
type(frames[0])

pandas.core.frame.DataFrame

In [8]:
frames[1:] = [df[1:] for df in frames[1:]]

In [9]:
combined = pd.concat(frames)
combined

,API Number,Production Date,Oil Produced (bbl),Water Produced (bbl),Gas Produced (Mcf),Days Well Produced,Gravity of Oil,Casing Pressure,Tubing Pressure,BTU,Method of Operation,Water Disposition,PWT Status,Well Type,Status,Pool Code,Reported Date
0,2900035,2017 Total,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01
1,2900035,Sep-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-09-01
2,2900035,Aug-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-08-01
3,2900035,Jul-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-07-01
4,2900035,Jun-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-06-01
5,2900035,May-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-05-01
6,2900035,Feb-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-02-01
7,2900035,Jan-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-01-01
8,2900035,2016 Total,0.0,0.0,21.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-01
9,2900035,Dec-2016,0.0,0.0,15.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-12-01
10,2900035,Nov-2016,0.0,0.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-11-01
11,2900035,Oct-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-10-01
12,2900035,Sep-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-09-01
13,2900035,Aug-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-08-01
14,2900035,Jul-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-07-01
15,2900035,Jun-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-06-01
16,2900035,Mar-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-03-01
17,2900035,Feb-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-02-01
18,2900035,Jan-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-01-01
19,2900035,2015 Total,74.0,2543.0,0.0,189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01
20,2900035,Dec-2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2015-12-01
21,2900035,Nov-2015,1.0,28.0,0.0,1.0,16.4,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-11-01
22,2900035,Oct-2015,1.0,28.0,0.0,1.0,16.3,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-10-01
23,2900035,Sep-2015,1.0,28.0,0.0,1.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-09-01
24,2900035,Aug-2015,2.0,70.0,0.0,1.0,16.5,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-08-01
25,2900035,Jul-2015,6.0,453.0,0.0,4.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-07-01
26,2900035,Jun-2015,5.0,471.0,0.0,30.0,17.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-06-01
27,2900035,May-2015,12.0,434.0,0.0,31.0,15.7,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-05-01
28,2900035,Apr-2015,12.0,293.0,0.0,30.0,16.8,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-04-01
29,2900035,Mar-2015,10.0,248.0,0.0,31.0,18.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,2900036,Apr-1979,117.0,11165.0,0.0,29.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-04-01
505,2900036,Mar-1979,95.0,9455.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-03-01
506,2900036,Feb-1979,351.0,3920.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-02-01
507,2900036,Jan-1979,90.0,1704.0,0.0,12.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-01-01
508,2900036,1978 Total,2285.0,65516.0,0.0,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978-12-01
509,2900036,Dec-1978,77.0,4557.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-12-01
510,2900036,Nov-1978,33.0,4116.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-11-01
511,2900036,Oct-1978,202.0,7347.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-10-01
512,2900036,Sep-1978,194.0,7110.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-09-01
513,2900036,Aug-1978,197.0,13671.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-08-01
514,2900036,Jul-1978,293.0,9641.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-07-01
515,2900036,Jun-1978,37.0,5180.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-06-01
516,2900036,May-1978,92.0,2000.0,0.0,16.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-05-01
517,2900036,Apr-1978,171.0,3500.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-04-01
518,2900036,Mar-1978,686.0,1860.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-03-01
519,2900036,Feb-1978,127.0,1944.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-02-01
520,2900036,Jan-1978,176.0,4590.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-01-01
521,2900036,1977 Total,1842.0,17648.0,0.0,321.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-12-01
522,2900036,Dec-1977,181.0,5270.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-12-01
523,2900036,Nov-1977,67.0,2380.0,0.0,14.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-11-01
524,2900036,Oct-1977,19.0,1530.0,0.0,9.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-10-01
525,2900036,Sep-1977,97.0,960.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-09-01
526,2900036,Aug-1977,163.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-08-01
527,2900036,Jul-1977,133.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-07-01
528,2900036,Jun-1977,217.0,728.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-06-01
529,2900036,May-1977,265.0,806.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-05-01
530,2900036,Apr-1977,149.0,870.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-04-01
531,2900036,Mar-1977,150.0,899.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-03-01
532,2900036,Feb-1977,126.0,952.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-02-01
533,2900036,Jan-1977,275.0,1269.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-01-01

In [10]:
type(combined)

pandas.core.frame.DataFrame

In [11]:
combined.columns = combined.columns.str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
combined.columns

Index(['API_Number', 'Production_Date', 'Oil_Produced_bbl',
       'Water_Produced_bbl', 'Gas_Produced_Mcf', 'Days_Well_Produced',
       'Gravity_of_Oil', 'Casing_Pressure', 'Tubing_Pressure', 'BTU',
       'Method_of_Operation', 'Water_Disposition', 'PWT_Status', 'Well_Type',
       'Status', 'Pool_Code', 'Reported_Date'],
      dtype='object')

In [12]:
combined.columns = [x.lower() for x in combined.columns]
combined.columns

Index(['api_number', 'production_date', 'oil_produced_bbl',
       'water_produced_bbl', 'gas_produced_mcf', 'days_well_produced',
       'gravity_of_oil', 'casing_pressure', 'tubing_pressure', 'btu',
       'method_of_operation', 'water_disposition', 'pwt_status', 'well_type',
       'status', 'pool_code', 'reported_date'],
      dtype='object')

In [13]:
combined = combined[pd.notnull(combined['well_type'])]
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4022 entries, 1 to 533
Data columns (total 17 columns):
api_number             4022 non-null int64
production_date        4022 non-null object
oil_produced_bbl       3959 non-null float64
water_produced_bbl     3954 non-null float64
gas_produced_mcf       3950 non-null float64
days_well_produced     3940 non-null float64
gravity_of_oil         3891 non-null float64
casing_pressure        3602 non-null float64
tubing_pressure        3603 non-null float64
btu                    3006 non-null float64
method_of_operation    3877 non-null float64
water_disposition      3709 non-null float64
pwt_status             4022 non-null object
well_type              4022 non-null object
status                 3613 non-null float64
pool_code              4022 non-null float64
reported_date          4022 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(12), int64(1), object(3)
memory usage: 565.6+ KB

In [14]:
combined

,api_number,production_date,oil_produced_bbl,water_produced_bbl,gas_produced_mcf,days_well_produced,gravity_of_oil,casing_pressure,tubing_pressure,btu,method_of_operation,water_disposition,pwt_status,well_type,status,pool_code,reported_date
1,2900035,Sep-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-09-01
2,2900035,Aug-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-08-01
3,2900035,Jul-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-07-01
4,2900035,Jun-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-06-01
5,2900035,May-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-05-01
6,2900035,Feb-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-02-01
7,2900035,Jan-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-01-01
9,2900035,Dec-2016,0.0,0.0,15.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-12-01
10,2900035,Nov-2016,0.0,0.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-11-01
11,2900035,Oct-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-10-01
12,2900035,Sep-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-09-01
13,2900035,Aug-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-08-01
14,2900035,Jul-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-07-01
15,2900035,Jun-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-06-01
16,2900035,Mar-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-03-01
17,2900035,Feb-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-02-01
18,2900035,Jan-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-01-01
20,2900035,Dec-2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2015-12-01
21,2900035,Nov-2015,1.0,28.0,0.0,1.0,16.4,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-11-01
22,2900035,Oct-2015,1.0,28.0,0.0,1.0,16.3,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-10-01
23,2900035,Sep-2015,1.0,28.0,0.0,1.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-09-01
24,2900035,Aug-2015,2.0,70.0,0.0,1.0,16.5,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-08-01
25,2900035,Jul-2015,6.0,453.0,0.0,4.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-07-01
26,2900035,Jun-2015,5.0,471.0,0.0,30.0,17.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-06-01
27,2900035,May-2015,12.0,434.0,0.0,31.0,15.7,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-05-01
28,2900035,Apr-2015,12.0,293.0,0.0,30.0,16.8,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-04-01
29,2900035,Mar-2015,10.0,248.0,0.0,31.0,18.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-03-01
30,2900035,Feb-2015,12.0,264.0,0.0,28.0,14.4,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-02-01
31,2900035,Jan-2015,12.0,226.0,0.0,31.0,17.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-01-01
33,2900035,Dec-2014,20.0,411.0,0.0,31.0,14.0,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2014-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,2900036,Jun-1979,101.0,11550.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-06-01
503,2900036,May-1979,117.0,11935.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-05-01
504,2900036,Apr-1979,117.0,11165.0,0.0,29.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-04-01
505,2900036,Mar-1979,95.0,9455.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-03-01
506,2900036,Feb-1979,351.0,3920.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-02-01
507,2900036,Jan-1979,90.0,1704.0,0.0,12.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-01-01
509,2900036,Dec-1978,77.0,4557.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-12-01
510,2900036,Nov-1978,33.0,4116.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-11-01
511,2900036,Oct-1978,202.0,7347.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-10-01
512,2900036,Sep-1978,194.0,7110.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-09-01
513,2900036,Aug-1978,197.0,13671.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-08-01
514,2900036,Jul-1978,293.0,9641.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-07-01
515,2900036,Jun-1978,37.0,5180.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-06-01
516,2900036,May-1978,92.0,2000.0,0.0,16.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-05-01
517,2900036,Apr-1978,171.0,3500.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-04-01
518,2900036,Mar-1978,686.0,1860.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-03-01
519,2900036,Feb-1978,127.0,1944.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-02-01
520,2900036,Jan-1978,176.0,4590.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-01-01
522,2900036,Dec-1977,181.0,5270.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-12-01
523,2900036,Nov-1977,67.0,2380.0,0.0,14.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-11-01
524,2900036,Oct-1977,19.0,1530.0,0.0,9.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-10-01
525,2900036,Sep-1977,97.0,960.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-09-01
526,2900036,Aug-1977,163.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-08-01
527,2900036,Jul-1977,133.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-07-01
528,2900036,Jun-1977,217.0,728.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-06-01
529,2900036,May-1977,265.0,806.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-05-01
530,2900036,Apr-1977,149.0,870.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-04-01
531,2900036,Mar-1977,150.0,899.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-03-01
532,2900036,Feb-1977,126.0,952.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-02-01
533,2900036,Jan-1977,275.0,1269.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-01-01

In [ ]:
frames[0].sum()

In [ ]:
frames[1].sum()

In [18]:
summary_excel = glob.glob("/Users/taylorphillips/galvanize/capstone/*.xlsx")
summary_excel

['/Users/taylorphillips/galvanize/capstone/CA Well Search Results 12-Feb-2019.xlsx']

In [24]:


excel_names = glob.glob("/Users/taylorphillips/galvanize/capstone/*.xlsx")

excels = [pd.ExcelFile(name) for name in excel_names]

frames = [x.parse(x.sheet_names[0], header=3) for x in excels]

combined = pd.concat(frames)

combined.columns = combined.columns.str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

combined.columns = [x.lower() for x in combined.columns]

combined.to_csv("summary.csv", index=False)

In [22]:
sum_parse()

,district_#,formatted_api_#,operator_name,operator_code,field_name,field_code,api_#,lease_name,well_#,well_status,...,longitude,gissourcecode,datumcode,blmwell,dryhole,directional,hydraulically_fractured,spud_date,completion_date,abandoned_date
0,4,029-00001,Chevron U.S.A. Inc.,C5640,Kern River,340,2900001,NaN,12-11,A,...,-118.958760,gps,83,N,N,N,,11/30/2008,NaN,NaN
1,4,029-00008,"Vaquero Energy, Inc.",V0725,Edison,222,2900008,Walter Brown,6,I,...,-118.841938,gps,83,N,N,N,,NaN,NaN,NaN
2,4,029-00035,"Maranatha Petroleum, Inc.",M1600,Fruitvale,256,2900035,Pace Fee,9,A,...,-119.045723,gps,83,N,N,N,,10/04/1989,NaN,NaN
3,4,029-00036,Naftex Operating Company,N0097,Edison,222,2900036,Racetrack,6-5,A,...,-118.851914,gps,83,N,N,N,,NaN,NaN,NaN
4,4,029-00037,"Grayson Service, Inc.",G2810,Canal,104,2900037,KCL-E,23,A,...,-119.256466,gps,83,N,N,N,,NaN,NaN,NaN
5,4,029-00038,Chevron U.S.A. Inc.,C5640,Kern River,340,2900038,Canfield,502,A,...,-118.982517,opr,83,N,N,N,,NaN,NaN,NaN
6,4,029-00039,Chevron U.S.A. Inc.,C5640,Kern River,340,2900039,Canfield,57,A,...,-118.979495,opr,83,N,N,N,,NaN,NaN,NaN
7,4,029-00044,Chevron U.S.A. Inc.,C5640,Kern River,340,2900044,Kern,36,A,...,-118.985182,opr,83,N,N,N,,NaN,NaN,NaN
8,4,029-00045,Chevron U.S.A. Inc.,C5640,Kern River,340,2900045,Blinn,18,A,...,-118.985129,opr,83,N,N,N,,NaN,NaN,NaN
9,4,029-00047,Chevron U.S.A. Inc.,C5640,Kern River,340,2900047,San Joaquin,280,A,...,-118.991276,opr,83,N,N,N,,NaN,NaN,NaN
10,4,029-00048,Chevron U.S.A. Inc.,C5640,Kern River,340,2900048,San Joaquin,281,A,...,-118.993461,opr,83,N,N,N,,NaN,NaN,NaN
11,4,029-00051,Chevron U.S.A. Inc.,C5640,Kern River,340,2900051,Pierce,20,A,...,-118.988274,opr,83,N,N,N,,NaN,NaN,NaN
12,4,029-00054,Chevron U.S.A. Inc.,C5640,Kern River,340,2900054,Monte Cristo No. 2,2-5,A,...,-118.979002,gps,83,N,N,N,,NaN,NaN,NaN
13,4,029-00055,Chevron U.S.A. Inc.,C5640,Kern River,340,2900055,Monte Cristo No. 2,5-8,A,...,-118.976862,gps,83,N,N,N,,NaN,NaN,NaN
14,4,029-00056,Chevron U.S.A. Inc.,C5640,Kern River,340,2900056,Monte Cristo No. 2,33,A,...,-118.978112,gps,83,N,N,N,,NaN,NaN,NaN
15,4,029-00057,Chevron U.S.A. Inc.,C5640,Kern River,340,2900057,Monte Cristo No. 2,34,A,...,-118.977832,gps,83,N,N,N,,NaN,NaN,NaN
16,4,029-00058,Chevron U.S.A. Inc.,C5640,Kern River,340,2900058,Monte Cristo No. 2,35,A,...,-118.978624,gps,83,N,N,N,,NaN,NaN,NaN
17,4,029-00061,Chevron U.S.A. Inc.,C5640,Kern River,340,2900061,NaN,1-2,A,...,-118.980632,gps,83,N,N,N,,NaN,NaN,NaN
18,4,029-00062,Chevron U.S.A. Inc.,C5640,Kern River,340,2900062,NaN,3-3,A,...,-118.979602,gps,83,N,N,N,,NaN,NaN,NaN
19,4,029-00063,Chevron U.S.A. Inc.,C5640,Kern River,340,2900063,NaN,4-1,A,...,-118.979362,gps,83,N,N,N,,NaN,NaN,NaN
20,4,029-00064,Chevron U.S.A. Inc.,C5640,Kern River,340,2900064,NaN,4-2,A,...,-118.978912,gps,83,N,N,N,,NaN,NaN,NaN
21,4,029-00066,Chevron U.S.A. Inc.,C5640,Kern River,340,2900066,NaN,8-4,A,...,-118.977082,gps,83,N,N,N,,NaN,NaN,NaN
22,4,029-00070,"Citadel Exploration, Inc.",C5845,Kern Bluff,336,2900070,Needham-Bloemer,6,A,...,-118.906028,gps,83,N,N,N,,NaN,NaN,NaN
23,4,029-00071,Chevron U.S.A. Inc.,C5640,Kern River,340,2900071,Amazon,34,A,...,-118.998462,opr,83,N,N,N,,NaN,NaN,NaN
24,4,029-00072,Chevron U.S.A. Inc.,C5640,Kern River,340,2900072,Amazon,35,A,...,-119.002268,opr,83,N,N,N,,NaN,NaN,NaN
25,4,029-00073,Chevron U.S.A. Inc.,C5640,Kern River,340,2900073,Apollo,24,A,...,-118.975306,opr,83,N,N,N,,NaN,NaN,NaN
26,4,029-00074,Chevron U.S.A. Inc.,C5640,Kern River,340,2900074,Blinn,17,A,...,-118.984374,opr,83,N,N,N,,NaN,NaN,NaN
27,4,029-00076,Chevron U.S.A. Inc.,C5640,Kern River,340,2900076,San Joaquin,289,A,...,-118.985968,opr,83,N,N,N,,NaN,NaN,NaN
28,4,029-00077,Pyramid Oil Company,P4800,Edison,222,2900077,Porter,28-3,A,...,-118.863625,gps,83,N,N,N,,NaN,NaN,NaN
29,4,029-00082,"Berry Petroleum Company, LLC",B3930,Poso Creek,566,2900082,Poso,11,A,...,-119.042175,gps,83,Y,N,N,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77948,4,107-00167,Smilodon Oil Company,S4275,Deer Creek,194,10700167,Hastings,8,A,...,-119.045712,gps,83,N,N,N,,NaN,NaN,NaN
77949,4,107-00378,P. H. Osborne,06545,Any Field,0,10700378,NaN,1,I,...,-119.192661,hud,83,N,Y,N,,NaN,NaN,NaN
77950,4,107-20216,Pentarch Petroleum,P2325,Deer Creek,194,10720216,Pentarch Petroleum,4,A,...,-119.050535,gps,83,N,N,N,,NaN,NaN,NaN
77951,4,107-20224,"Longbow, LLC",L2505,Deer Creek,194,10720224,National Development-Merzoian,2A,A,...,-119.040683,gps,83,N,N,N,,NaN,NaN,NaN
77952,4,107-20227,"Longbow, LLC",L2505,Deer Creek,194,10720227,Community,12,A,...,-119.043423,gps,83,N,N,N,,NaN,NaN,NaN
77953,4,107-20228,Dennis C. Franks,F1632,Deer Creek,194,10720228,D. C. Unit,4,A,...,-119.047325,gps,83,N,N,N,,NaN,NaN,NaN
77954,4,107-20229,Dennis C. Franks,F1632,Deer Creek,194,10720229,D. C. Unit,5,A,...,-119.046862,gps,83,N,N,N,,NaN,NaN,NaN
77955,4,107-20232,"Longbow, LLC",L2505,Deer Creek,194,10720232,Community,14,A,...,-119.042631,gps,83,N,N,N,,NaN,NaN,NaN
77956,4,107-20240,"Western States International, Inc.",W1854,Trico Gas,790,10720240,Guy,1,I,...,-119.529021,gps,83,N,N,N,,NaN,NaN,NaN
77957,4,107-20246,"Strata-X, Inc.",V1250,Trico Gas,790,10720246,Kingfisher,1,I,...,-119.441330,gps,83,N,N,N,,08/25/2001,NaN,NaN
77958,4,107-20254,"Longbow, LLC",L2505,Deer Creek,194,10720254,Smith-Rhoads,7,A,...,-119.039919,gps,83,N,N,N,,NaN,NaN,NaN
77959,4,107-20255,"Longbow, LLC",L2505,Deer Creek,194,10720255,T.B.I.D.,14,A,...,-119.041195,gps,83,N,N,N,,NaN,NaN,NaN
77960,4,107-20256,"Longbow, LLC",L2505,Deer Creek,194,10720256,T.B.I.D.,15,I,...,-119.043721,gps,83,N,N,N,,NaN,NaN,NaN
77961,4,107-20257,Pentarch Petroleum,P2325,Deer Creek,194,10720257,Pentarch Petroleum,6,A,...,-119.045018,gps,83,N,N,N,,NaN,NaN,NaN
77962,4,107-20258,"Longbow, LLC",L2505,Deer Creek,194,10720258,T.B.I.D.,16,A,...,-119.041174,gps,83,N,N,N,,NaN,NaN,NaN
77963,4,107-20259,"Longbow, LLC",L2505,Deer Creek,194,10720259,T.B.I.D.,17,A,...,-119.041216,gps,83,N,N,N,,NaN,NaN,NaN
77964,4,107-20260,"Longbow, LLC",L2505,Deer Creek,194,10720260,T.B.I.D.,18,A,...,-119.043193,gps,83,N,N,N,,NaN,NaN,NaN
77965,4,107-20261,"Longbow, LLC",L2505,Deer Creek,194,10720261,T.B.I.D.,19,A,...,-119.043327,gps,83,N,N,N,,NaN,NaN,NaN
77966,4,107-20264,"Longbow, LLC",L2505,Deer Creek,194,10720264,Community,15,N,...,-119.043990,opr,83,N,N,N,,NaN,NaN,NaN
77967,4,107-20265,"Longbow, LLC",L2505,Deer Creek,194,10720265,Community,16,A,...,-119.043072,gps,83,N,N,N,,NaN,NaN,NaN
77968,4,107-20266,"Longbow, LLC",L2505,Deer Creek,194,10720266,National Development-Merzoian,8,A,...,-119.040638,gps,83,N,N,N,,NaN,NaN,NaN
77969,4,107-20269,"Modus, Inc.",M6935,Deer Creek,194,10720269,Filippi,L.T.F. 2,A,...,-119.049271,gps,83,N,N,N,,10/03/2008,10/05/2008,NaN
77970,4,107-20270,"Modus, Inc.",M6935,Deer Creek,194,10720270,Filippi,S.F. 1,A,...,-119.049982,gps,83,N,N,N,,10/05/2008,10/07/2008,NaN
77971,4,107-20271,Pentarch Petroleum,P2325,Deer Creek,194,10720271,Pentarch Petroleum,8,A,...,-119.050455,hud,83,N,N,N,,09/30/2008,10/03/2008,NaN
77972,4,107-20272,Pentarch Petroleum,P2325,Deer Creek,194,10720272,Pentarch Petroleum,7,I,...,-119.045018,gps,83,N,N,N,,09/27/2008,09/01/2012,NaN
77973,4,107-20273,"Modus, Inc.",M6935,Deer Creek,194,10720273,Filippi,L.T.F. 3,A,...,-119.048857,sum,83,N,N,N,,10/19/2011,10/26/2011,NaN
77974,4,107-20274,"Modus, Inc.",M6935,Deer Creek,194,10720274,Filippi,S.F. 4,A,...,-119.049442,sum,83,N,N,N,,10/25/2011,10/29/2011,NaN
77975,4,107-20275,Pentarch Petroleum,P2325,Deer Creek,194,10720275,Pentarch Petroleum,5A,A,...,-119.050830,opr,83,N,N,N,,06/30/2012,07/02/2012,NaN
77976,4,107-20276,Smilodon Oil Company,S4275,Deer Creek,194,10720276,Hastings,9,A,...,-119.045610,noi,83,N,N,N,,NaN,NaN,NaN
77977,4,107-20279,Pentarch Petroleum,P2325,Deer Creek,194,10720279,Pentarch,9,A,...,-119.050820,sum,83,N,N,N,,11/26/2013,01/07/2014,NaN

In [25]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77978 entries, 0 to 77977
Data columns (total 28 columns):
district_#                 77978 non-null int64
formatted_api_#            77978 non-null object
operator_name              77978 non-null object
operator_code              77978 non-null object
field_name                 77978 non-null object
field_code                 77978 non-null int64
api_#                      77978 non-null int64
lease_name                 51344 non-null object
well_#                     77978 non-null object
well_status                77978 non-null object
pool_welltypes             77978 non-null object
section                    77978 non-null int64
township                   77978 non-null object
range                      77978 non-null object
base_meridian              77978 non-null object
area_code                  77978 non-null int64
area_name                  77978 non-null object
latitude                   77978 non-null float64
longitude                  77978 non-null float64
gissourcecode              77978 non-null object
datumcode                  77978 non-null object
blmwell                    77978 non-null object
dryhole                    77978 non-null object
directional                77978 non-null object
hydraulically_fractured    77978 non-null object
spud_date                  21813 non-null object
completion_date            20595 non-null object
abandoned_date             91 non-null object
dtypes: float64(2), int64(5), object(21)
memory usage: 16.7+ MB