In [1]:
import pandas as pd 
import numpy as np 
import os
import glob

In [2]:
excel_names = glob.glob("/Users/taylorphillips/galvanize/capstone/test_files/*.xlsx")

In [3]:
excel_names

['/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900035_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900001_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900038_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900045_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900008_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900037_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900044_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900039_Production_11-Feb-2019.xlsx',
 '/Users/taylorphillips/galvanize/capstone/test_files/API_04_02900036_Production_11-Feb-2019.xlsx']

In [4]:
excels = [pd.ExcelFile(name) for name in excel_names]

In [5]:
excels

[<pandas.io.excel.ExcelFile at 0x120beaef0>,
 <pandas.io.excel.ExcelFile at 0x120f7eeb8>,
 <pandas.io.excel.ExcelFile at 0x120f4fac8>,
 <pandas.io.excel.ExcelFile at 0x120f169e8>,
 <pandas.io.excel.ExcelFile at 0x120fbb550>,
 <pandas.io.excel.ExcelFile at 0x120f9eda0>,
 <pandas.io.excel.ExcelFile at 0x12105f2e8>,
 <pandas.io.excel.ExcelFile at 0x120f9eba8>,
 <pandas.io.excel.ExcelFile at 0x1125fe9b0>]

In [6]:
frames = [x.parse(x.sheet_names[0], header=3) for x in excels]

In [7]:
type(frames[0])

pandas.core.frame.DataFrame

In [8]:
frames[1:] = [df[1:] for df in frames[1:]]

In [9]:
combined = pd.concat(frames)
combined

,API Number,Production Date,Oil Produced (bbl),Water Produced (bbl),Gas Produced (Mcf),Days Well Produced,Gravity of Oil,Casing Pressure,Tubing Pressure,BTU,Method of Operation,Water Disposition,PWT Status,Well Type,Status,Pool Code,Reported Date
0,2900035,2017 Total,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01
1,2900035,Sep-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-09-01
2,2900035,Aug-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-08-01
3,2900035,Jul-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-07-01
4,2900035,Jun-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-06-01
5,2900035,May-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-05-01
6,2900035,Feb-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-02-01
7,2900035,Jan-2017,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2017-01-01
8,2900035,2016 Total,0.0,0.0,21.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-01
9,2900035,Dec-2016,0.0,0.0,15.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-12-01
10,2900035,Nov-2016,0.0,0.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2016-11-01
11,2900035,Oct-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-10-01
12,2900035,Sep-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-09-01
13,2900035,Aug-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-08-01
14,2900035,Jul-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-07-01
15,2900035,Jun-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-06-01
16,2900035,Mar-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-03-01
17,2900035,Feb-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-02-01
18,2900035,Jan-2016,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2016-01-01
19,2900035,2015 Total,74.0,2543.0,0.0,189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01
20,2900035,Dec-2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A,OG,6.0,0.0,2015-12-01
21,2900035,Nov-2015,1.0,28.0,0.0,1.0,16.4,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-11-01
22,2900035,Oct-2015,1.0,28.0,0.0,1.0,16.3,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-10-01
23,2900035,Sep-2015,1.0,28.0,0.0,1.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-09-01
24,2900035,Aug-2015,2.0,70.0,0.0,1.0,16.5,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-08-01
25,2900035,Jul-2015,6.0,453.0,0.0,4.0,16.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-07-01
26,2900035,Jun-2015,5.0,471.0,0.0,30.0,17.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-06-01
27,2900035,May-2015,12.0,434.0,0.0,31.0,15.7,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-05-01
28,2900035,Apr-2015,12.0,293.0,0.0,30.0,16.8,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-04-01
29,2900035,Mar-2015,10.0,248.0,0.0,31.0,18.1,NaN,NaN,NaN,NaN,NaN,A,OG,NaN,0.0,2015-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,2900036,Apr-1979,117.0,11165.0,0.0,29.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-04-01
505,2900036,Mar-1979,95.0,9455.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-03-01
506,2900036,Feb-1979,351.0,3920.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-02-01
507,2900036,Jan-1979,90.0,1704.0,0.0,12.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1979-01-01
508,2900036,1978 Total,2285.0,65516.0,0.0,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978-12-01
509,2900036,Dec-1978,77.0,4557.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-12-01
510,2900036,Nov-1978,33.0,4116.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-11-01
511,2900036,Oct-1978,202.0,7347.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-10-01
512,2900036,Sep-1978,194.0,7110.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-09-01
513,2900036,Aug-1978,197.0,13671.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-08-01
514,2900036,Jul-1978,293.0,9641.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-07-01
515,2900036,Jun-1978,37.0,5180.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-06-01
516,2900036,May-1978,92.0,2000.0,0.0,16.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-05-01
517,2900036,Apr-1978,171.0,3500.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-04-01
518,2900036,Mar-1978,686.0,1860.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-03-01
519,2900036,Feb-1978,127.0,1944.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-02-01
520,2900036,Jan-1978,176.0,4590.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1978-01-01
521,2900036,1977 Total,1842.0,17648.0,0.0,321.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-12-01
522,2900036,Dec-1977,181.0,5270.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-12-01
523,2900036,Nov-1977,67.0,2380.0,0.0,14.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-11-01
524,2900036,Oct-1977,19.0,1530.0,0.0,9.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-10-01
525,2900036,Sep-1977,97.0,960.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-09-01
526,2900036,Aug-1977,163.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-08-01
527,2900036,Jul-1977,133.0,992.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-07-01
528,2900036,Jun-1977,217.0,728.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-06-01
529,2900036,May-1977,265.0,806.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-05-01
530,2900036,Apr-1977,149.0,870.0,0.0,30.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-04-01
531,2900036,Mar-1977,150.0,899.0,0.0,31.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-03-01
532,2900036,Feb-1977,126.0,952.0,0.0,28.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-02-01
533,2900036,Jan-1977,275.0,1269.0,0.0,27.0,14.5,0.0,0.0,NaN,3.0,1.0,A,OG,0.0,0.0,1977-01-01

In [10]:
type(combined)

pandas.core.frame.DataFrame

In [11]:
combined.columns = combined.columns.str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
combined.columns

Index(['API_Number', 'Production_Date', 'Oil_Produced_bbl',
       'Water_Produced_bbl', 'Gas_Produced_Mcf', 'Days_Well_Produced',
       'Gravity_of_Oil', 'Casing_Pressure', 'Tubing_Pressure', 'BTU',
       'Method_of_Operation', 'Water_Disposition', 'PWT_Status', 'Well_Type',
       'Status', 'Pool_Code', 'Reported_Date'],
      dtype='object')

In [17]:
combined.columns = [x.lower() for x in combined.columns]
combined.columns

Index(['api_number', 'production_date', 'oil_produced_bbl',
       'water_produced_bbl', 'gas_produced_mcf', 'days_well_produced',
       'gravity_of_oil', 'casing_pressure', 'tubing_pressure', 'btu',
       'method_of_operation', 'water_disposition', 'pwt_status', 'well_type',
       'status', 'pool_code', 'reported_date'],
      dtype='object')

In [18]:
combined = combined[pd.notnull(combined['well_type'])]
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4022 entries, 1 to 533
Data columns (total 17 columns):
api_number             4022 non-null int64
production_date        4022 non-null object
oil_produced_bbl       3959 non-null float64
water_produced_bbl     3954 non-null float64
gas_produced_mcf       3950 non-null float64
days_well_produced     3940 non-null float64
gravity_of_oil         3891 non-null float64
casing_pressure        3602 non-null float64
tubing_pressure        3603 non-null float64
btu                    3006 non-null float64
method_of_operation    3877 non-null float64
water_disposition      3709 non-null float64
pwt_status             4022 non-null object
well_type              4022 non-null object
status                 3613 non-null float64
pool_code              4022 non-null float64
reported_date          4022 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(12), int64(1), object(3)
memory usage: 565.6+ KB

In [ ]:
combined

In [ ]:
list(combined.groupby(['API Number']))

In [ ]:
frames[0].sum()

In [ ]:
frames[1].sum()