In [1]:
import psycopg2
import pandas as pd
import sys
from datetime import datetime
import pandas.io.sql as psql

In [2]:
try:
    conn = psycopg2.connect(dbname='welldata', user='taylorphillips', host='localhost')
except:
    print("I am unable to connect to the database")
cur = conn.cursor()

In [3]:
try:
    cur.execute('DROP TABLE IF EXISTS r;')
    cur.execute(
    '''
    CREATE TABLE r AS
    SELECT api_number, oil_produced_bbl, water_produced_bbl, gas_produced_mcf, days_well_produced, reported_date, well_type
    FROM production
    WHERE reported_date > date '2019-02-01' - interval '3 years';
    '''
)
except:
    print("Nope didn't work")

In [4]:
try:
    cur.execute('DROP TABLE IF EXISTS ragg;')
    cur.execute(
    '''
    CREATE TABLE ragg AS
    SELECT api_number, well_type, SUM(oil_produced_bbl) as oil, 
    SUM(water_produced_bbl) as water, 
    SUM(gas_produced_mcf) as gas,
    SUM(days_well_produced) as dval 
    FROM r
    GROUP BY api_number, well_type;
    '''
)
except:
    print("Nope didn't work")

In [6]:
try:
    cur.execute('DROP TABLE IF EXISTS op;')
    cur.execute(
    '''CREATE TABLE op AS
    SELECT ragg.api_number, summary.operator_name, ragg.well_type, ragg.oil, ragg.water, ragg.gas, ragg.dval
    FROM ragg
    JOIN summary
    ON ragg.api_number = summary."api_#";
    '''
)
    dataframe = psql.read_sql('''SELECT ragg.api_number, summary.operator_name, ragg.well_type, ragg.oil, ragg.water, ragg.gas, ragg.dval
                            FROM ragg
                            JOIN summary
                            ON ragg.api_number = summary."api_#"''', conn)
    data1 = psql.read_sql('''select operator_name, count(*) from op where well_type != 'OB' group by operator_name;''', conn)
    data2 = psql.read_sql('''select operator_name, count(*) as idle_rate from op where (dval = 0 and well_type != 'OB') group by operator_name''', conn)


except:
    print("Nope didn't work")

In [7]:
dataframe = dataframe[dataframe.well_type != 'OB']
dataframe

,api_number,operator_name,well_type,oil,water,gas,dval
0,2907384.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
1,2910201.0,California Resources Production Corporation,OG,0.0,0.0,0.0,0.0
2,2908386.0,Alon Bakersfield Property Inc.,OG,42.0,1638.0,0.0,28.0
3,2905219.0,California Resources Production Corporation,OG,326.0,258.0,0.0,702.0
4,2905644.0,Crimson Resource Management Corp.,OG,6394.0,23946.0,3482.0,709.0
5,2907182.0,"Berry Petroleum Company, LLC",OG,0.0,0.0,0.0,0.0
6,2905043.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
7,2900841.0,Crimson Resource Management Corp.,OG,3380.0,368612.0,2755.0,527.0
8,2900421.0,Chevron U.S.A. Inc.,OG,4202.0,12648.0,0.0,693.0
9,2902199.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
10,2905668.0,Crimson Resource Management Corp.,OG,0.0,0.0,0.0,0.0
11,2901957.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
12,2905083.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
13,2900459.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
14,2905642.0,Crimson Resource Management Corp.,OG,3368.0,23417.0,1875.0,718.0
15,2905348.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
16,2907055.0,Chevron U.S.A. Inc.,OG,136.0,171434.0,15.0,544.0
17,2907842.0,Chevron U.S.A. Inc.,OG,1131.0,3019.0,661.0,729.0
18,2904676.0,"Dole Enterprises, Inc.",OG,810.0,2897.0,0.0,662.0
19,2904783.0,"Sequoia Exploration, Inc.",OG,0.0,0.0,282.0,28.0
20,2908947.0,California Resources Production Corporation,OG,1.0,0.0,0.0,30.0
21,2907956.0,Chevron U.S.A. Inc.,OG,666.0,14968.0,221.0,729.0
22,2900619.0,Chevron U.S.A. Inc.,OG,652.0,1116.0,0.0,588.0
23,2902102.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
24,2901589.0,"Berry Petroleum Company, LLC",OG,15793.0,18792.0,3303.0,702.0
25,2902805.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
26,2908430.0,Hathaway LLC,OG,0.0,0.0,0.0,0.0
27,2900922.0,"Longbow, LLC",OG,214.0,97105.0,0.0,671.0
28,2902557.0,"California Resources Elk Hills, LLC",OG,19136.0,261058.0,1.0,671.0
29,2904908.0,"Vaquero Energy, Inc.",OG,2297.0,74421.0,660.0,631.0
...,...,...,...,...,...,...,...
1824,2901445.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
1825,2902113.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1826,2902877.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1828,2900916.0,"Longbow, LLC",OG,217.0,1390.0,0.0,671.0
1829,2902924.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1830,2904724.0,"Golden Valley Energy, LLC",OG,30.0,7.0,0.0,50.0
1831,2901715.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1832,2907527.0,"Berry Petroleum Company, LLC",OG,0.0,0.0,0.0,0.0
1833,2902705.0,"California Resources Elk Hills, LLC",OG,6550.0,122245.0,0.0,671.0
1834,2900422.0,Chevron U.S.A. Inc.,OG,76.0,1711.0,0.0,195.0
1835,2901350.0,"Berry Petroleum Company, LLC",OG,0.0,0.0,0.0,0.0
1836,2901713.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1837,2900637.0,Atlantic Oil Company,OG,130.0,2152.0,90.0,35.0
1838,2906017.0,C & M Oil Co. & Investments,OG,1194.0,1194.0,0.0,550.0
1839,2901978.0,"California Resources Elk Hills, LLC",DG,0.0,0.0,0.0,0.0
1840,2902327.0,Seneca Resources Corporation,OG,0.0,0.0,0.0,0.0
1841,2901937.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1843,2905307.0,Chevron U.S.A. Inc.,OG,0.0,0.0,0.0,0.0
1844,2900927.0,"Longbow, LLC",OG,214.0,27412.0,0.0,671.0
1845,2907019.0,Chevron U.S.A. Inc.,OG,731.0,6648.0,115.0,730.0
1846,2901358.0,"California Resources Elk Hills, LLC",OG,0.0,0.0,0.0,0.0
1847,2900816.0,"Citadel Exploration, Inc.",OG,0.0,0.0,0.0,0.0
1848,2901299.0,Aera Energy LLC,OG,0.0,0.0,0.0,0.0
1849,2908656.0,Hathaway LLC,OG,0.0,0.0,0.0,0.0
1850,2907171.0,Chevron U.S.A. Inc.,OG,2537.0,15317.0,376.0,730.0
1851,2905674.0,Crimson Resource Management Corp.,OG,361.0,556.0,174.0,406.0
1852,2904655.0,Redbank Oil Co.,OG,1068.0,251.0,0.0,490.0
1853,2900711.0,California Resources Production Corporation,OG,0.0,0.0,0.0,0.0
1854,2902109.0,"California Resources Elk Hills, LLC",OG,4026.0,222514.0,0.0,671.0
1855,2908614.0,Crimson Resource Management Corp.,OG,0.0,0.0,0.0,0.0

In [8]:
data1.sum()

operator_name    Sequoia Exploration, Inc.California Resources ...
count                                                         1831
dtype: object

In [10]:
data2.sum()
data2

                                     operator_name  idle_rate
0                                  Aera Energy LLC          7
1                   Alon Bakersfield Property Inc.         20
2                              Amrich Energy, Inc.          6
3                                Andrew L. Newkirk          1
4                             Atlantic Oil Company         12
5                          Bennett Petroleum, Inc.          1
6                     Berry Petroleum Company, LLC         23
7                      Big West of California, LLC          2
8                                        CMO, Inc.          1
9              California Resources Elk Hills, LLC        366
10     California Resources Production Corporation         66
11                             Chevron U.S.A. Inc.        138
12                       Citadel Exploration, Inc.         13
13               Crimson Resource Management Corp.         82
14                          Dole Enterprises, Inc.          4
15  E & B Natural Resources Management Corporation         39
16                             Foothill Energy LLC         17
17                           Grayson Service, Inc.          1
18                                    Hathaway LLC         19
19                  Holmes Western Oil Corporation          9
20                           J.P. Oil Company, LLC          2
21                   Little Creek Properties, Inc.          3
22                                    Longbow, LLC          1
23                          Matrix Oil Corporation          3
24                        Naftex Operating Company          7
25                    Petro Capital Resources, LLC          1
26                           Petro Resources, Inc.          1
27             Premier Pumping Unit Services, Inc.          6
28                             Pyramid Oil Company          9
29                                 Redbank Oil Co.          3
30         San Joaquin Facilities Management, Inc.         14
31                    Seneca Resources Corporation         17
32          Sentinel Peak Resources California LLC          1
33                       Sequoia Exploration, Inc.         16
34                              Summit Energy, LLC          4
35                     TS Leasing Operations, Inc.          1
36                                 Target Drilling          3
37                               Tetra Oil Company          4
38                            Valid Energy Company          1
39                            Vaquero Energy, Inc.         35

In [11]:
conn.commit() # <--- makes sure the change is shown in the database
conn.close()