In [1]:
import psycopg2
import pandas as pd
import sys
from datetime import datetime
import pandas.io.sql as psql

In [9]:
try:
    conn = psycopg2.connect(dbname='welldata', user='taylorphillips', host='localhost')
except:
    print("I am unable to connect to the database")
cur = conn.cursor()

In [10]:
try:
    cur.execute('DROP TABLE IF EXISTS r;')
    cur.execute(
    '''
    CREATE TABLE r AS
    SELECT api_number, oil_produced_bbl, water_produced_bbl, gas_produced_mcf, days_well_produced, reported_date, well_type
    FROM production
    WHERE reported_date > date '2019-02-01' - interval '3 years';
    '''
)
except:
    print("Nope didn't work")

In [11]:
try:
    cur.execute('DROP TABLE IF EXISTS ragg;')
    cur.execute(
    '''
    CREATE TABLE ragg AS
    SELECT api_number, well_type, SUM(oil_produced_bbl) as oil, 
    SUM(water_produced_bbl) as water, 
    SUM(gas_produced_mcf) as gas,
    SUM(days_well_produced) as dval 
    FROM r
    GROUP BY api_number, well_type;
    '''
)
except:
    print("Nope didn't work")

In [12]:
try:
    cur.execute('DROP TABLE IF EXISTS op;')
    cur.execute(
    '''CREATE TABLE op AS
    SELECT ragg.api_number, summary.operator_name, ragg.well_type, ragg.oil, ragg.water, ragg.gas, ragg.dval
    FROM ragg
    JOIN summary
    ON ragg.api_number = summary."api_#";
    '''
)
    dataframe = psql.read_sql('''SELECT ragg.api_number, summary.operator_name, ragg.well_type, ragg.oil, ragg.water, ragg.gas, ragg.dval
                            FROM ragg
                            JOIN summary
                            ON ragg.api_number = summary."api_#"''', conn)



except:
    print("Nope didn't work")

In [13]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 7 columns):
api_number       1856 non-null float64
operator_name    1856 non-null object
well_type        1856 non-null object
oil              1846 non-null float64
water            1846 non-null float64
gas              1837 non-null float64
dval             1853 non-null float64
dtypes: float64(5), object(2)
memory usage: 101.6+ KB